<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="|year: ${#request.getAttribute('year')}|"></h1>
<h1 th:text="|id: ${#session.getAttribute('id')}|"></h1>
<h1 th:text="|email: ${#servletContext.getAttribute('email')}|"></h1>



<h1 th:text="|year: ${year}|"></h1>
<h1 th:text="|id: ${session.id}|"></h1>
<h1 th:text="|email: ${application.email}|"></h1>


<script th:inline="javascript">
    var firstName = [[${firstName}]]
    var arr = [[${list}]]
    var userObj = [[${user}]]
</script>


<!--/* <a href=“login/auth” th:href=“@{/board/list}”> */-->
<!--/* <a href=“login/auth”. th:href=“@{/board/list(bno=${bno},type="A")}”> */-->
<!--/* <a href=“login/auth” th:href=“@{/board/{bno}/list(bno=${bno})}”> */-->



<input type="button" value="Go" th:attr="value=@{Home}" />
<input type="button" value="Go" th:value="@{Home}" />
<input type="button" value="Go" th:attrappend="value=@{Home}" />
<input type="button" value="Go" th:attrprepend="value=@{Home}" />


<span th:each="opt, status : ${list}">[[${status.index}]]</span>
<span th:each="opt, status : ${list}">[[${status.count}]]</span>
<span th:each="opt, status : ${list}">[[${status.size}]]</span>
<span th:each="opt, status : ${list}">[[${status.odd}]]</span>
<span th:each="opt, status : ${list}">[[${status.even}]]</span>
<span th:each="opt, status : ${list}">[[${status.first}]]</span>
<span th:each="opt, status : ${list}">[[${status.last}]]</span>
<span th:each="opt, status : ${list}">[[${status.current}]]</span>


<table>
    <tr th:each="item : ${list}">
        <td th:text="${item}"></td>

        <div th:switch="${item}">
            <span th:case="aaa">1위</span>
            <span th:case="bbb">2위</span>
            <span th:case="ccc">3위</span>
            <span th:case="ddd">4위</span>
            <span th:case="eee">5위</span>
        </div>
    </tr>


    <tr th:if="${list.size}==0">
        <td> 게시물이 없습니다. </td>
    </tr>

    <tr th:unless="${list.size}==0">
        <td> 게시물이 있습니다. </td>
    </tr>

</table>

    <h1 th:text="${lastName}">lastName</h1>
    <h1>[[${firstName}]]</h1>

    <span th:text="${'<i>Hello</i>'}"></span>
    <span th:utext="${'<h1>Hello</h1>'}"></span>
</body>
</html>