<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="button" value="Go" th:attr="value=@{Home}" />  <!--Home-->
<input type="button" value="Go" th:value="@{Home}" />  <!--Home-->
<input type="button" value="Go" th:attrappend="value=@{Home}" />  <!--GoHome-->
<input type="button" value="Go" th:attrprepend="value=@{Home}" /> <!--HomeGo-->



<span th:each="opt, status : ${list}">[[${status.index}]]</span>   <!--0 1 2 3 4-->
<span th:each="opt, status : ${list}">[[${status.count}]]</span>  <!--1 2 3 4 5-->
<span th:each="opt, status : ${list}">[[${status.size}]]</span> <!--5 5 5 5 5-->
<span th:each="opt, status : ${list}">[[${status.odd}]]</span>  <!--true false true false true-->
<span th:each="opt, status : ${list}">[[${status.even}]]</span> <!--false true false true false-->
<span th:each="opt, status : ${list}">[[${status.first}]]</span> <!--true false false false false-->
<span th:each="opt, status : ${list}">[[${status.last}]]</span> <!--false false false false true-->
<span th:each="opt, status : ${list}">[[${status.current}]]</span> <!--aaa bbb ccc ddd eee-->



<table>
    <tr th:each="item : ${list}">
        <td th:text="${item}"></td>
        <!--  aaa -->
        <!--  bbb -->
        <!--  ccc -->
        <!--  ddd -->
        <!--  eee -->



        <div th:switch="${item}">
            <span th:case="aaa">1위</span>
            <span th:case="bbb">2위</span>
            <span th:case="ccc">3위</span>
            <span th:case="ddd">4위</span>
            <span th:case="eee">5위</span>
        </div>
        <!--  1위-->
        <!--  2위-->
        <!--  3위-->
        <!--  4위-->
        <!--  5위-->



    </tr>

    <tr th:if="${list.size}==0">
        <td> 게시물이 없습니다. </td>
    </tr>

    <tr th:unless="${list.size}==0">
        <td> 게시물이 있습니다. </td> <!-- 게시물이 있습니다. -->
    </tr>

</table>

    <h1 th:text="${lastName}">lastName</h1>  <!-- kim -->
    <h1>[[${firstName}]]</h1>   <!-- seongjin -->

    <span th:text="${'<i>Hello</i>'}"></span>   <!--  <i>Hello</i>  -->
    <span th:utext="${'<h1>Hello</h1>'}"></span>  <!--  Hello  -->
</body>
</html>