<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1> 로그인 성공 </h1>-->
<!--    <h1 th:text="|아이디는 ${Id}|"></h1>-->
<!--    <h1 th:text="|비밀번호는 ${Pwd}|"></h1>-->
<!--</body>-->
<!--</html>-->


<!-------------------------------->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 로그인 성공 </h1>
<h1 th:text="|아이디는 ${#request.getAttribute('Id')}|"></h1>
<h1 th:text="|비밀번호는 ${#request.getAttribute('Pwd')}|"></h1>
</body>
</html>